*{
    align-items:center;
    
}
nav ul
{
    display:flex;
    padding:0px;
    margin:0px;
    list-style: none;
}
nav ul li{
      padding:7px 27px;
      font-size: 18px;
}
.thing1{
    display:flex;
    
    padding:6px 8px;
    margin-left:52% ;
    padding:7px 27px;

    
    
}
nav{
    display:flex;
   
    background-color:#000000b3 ;
    color: aliceblue;
    margin:0px;
    align-items: center;
    
}
.search{
    color:green;
    background-color:#000000b3;
    border-color:green;
    border-radius: 9px;
    padding:9px 25px;
    margin:0px 4px;
}
.meraform{
    
   
    padding: 12px;
    margin:63px 350px;
    
    width:fit-content;
    align-self: center;
}

.div1{
        padding:10px;
        margin:12px;
        width:600px;
}
.radio{
    padding:12px;
    margin:12px;
    border:2px solid black;
    
    border-radius: 4px;
}
.button{
    padding:22px;
    margin:88px;
    width:461px;
}
